{?set jieqi_blocks_module = "pay"?}
{?set jieqi_blocks_config = "payblocks"?}
{?set $jieqi_pagetitle = "银行邮局汇款{$jieqi_sitename}"?}

{?block bid="0" blockname="充值导航" module="pay" filename="block_paylist_tab" classname="BlockSystemCustom" side="-1" title="" vars="" template="" contenttype="4" custom="1" publish="3" hasvars="0"?}

<table class="grid" width="100%" align="center">
  <caption>银行邮局汇款</caption>
  <tr>
    <td>
	<ul class="ulrow">
		<li>1、汇款兑换比例：1元=100{?$egoldname?}。</li>
		<li>2、银行及邮局汇款，最少额度为20元人民币。</li>
		<li>3、汇款后请联系本站管理员，进行人工充值。</li>
	</ul>
	<table class="grid" width="100%" align="center">
	<tr>
		<th>银行名称</th>
		<th>收款账号</th>
		<th>开户名</th>
		<th>开户地址</th>
	</tr>

	<tr>
		<td>中国建设银行</td>
		<td>3405 0164 9108 0000 0031</td>
		<td>淮北幻飞文化传播有限公司</td>
		<td>淮北市濉溪分行</td>
	</tr>

	</table>
	</td>
  </tr>
</table>

