<div class="container">
<div class="app_header_section2  app_scrollerHeader  pinned">
<div class="app_header_detail2">
<div class="app_header_back"></div>
<div class="app_header_h1">完成支付</div>
</div>
</div>
<div class="app_body">

<div class="weixinpay" style="width:100%;height:350px;background:#fff">
<br><br>
<p align="center"><img src="/modules/pay/weixin/qrcode.php?data={?$img?}" alt="微信支付二维码" height="186" width="223"></p>
<p align="center"><span style="line-height: 30px;">支付<span style="color: #f60; font-size: 20px;"><strong>{?$money?}.0</strong></span>元<br></p>
<p align="center"><img src="{?$jieqi_url?}/tianyin/picture/weixins.png" alt="微信支付说明" width="206" height="60"/></p>
</div>
</div>
