/* basic */
*{
	margin: 0px;
	padding: 0px;
}

html,body{
	color:#000000;
	background: #ffffff;
	text-align: center;
	font: 12px/1.6 "Microsoft YaHei",SimSun,Verdana,Arial,sans-serif;
}

a{
	color: #333333;
	text-decoration: none;
	background-color: transparent;
}

a:hover{
	color: #ff6600;
	text-decoration : underline;
}

span, p{
}

h1, h2, h3, h4, h5, h6{
	font-size: 16px;
}

img{
	border: 0px;
}

div{
	text-align: left;
}

hr{
	height: 1px;
	border: 1px solid #dddddd;
	clear: both;
	margin: 5px 0px;
}

ul{
	list-style: none;
	clear: both;
	text-align: left;
}

li{
	line-height: 150%;
}

/* table */
table{
	text-align: left; 
}

table td{
}

table.fix{
	table-layout: fixed;
}

table.fix td{
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}

table.grid{
	border-collapse: collapse;
	border: 1px solid #dadcde;
	margin: 0 auto 10px auto;
}

table.grid caption, .gridtop{
	height: 33px; 
	line-height: 33px; 
	border: 1px solid #dadcde;
	background: url("images/m_bgss.gif") repeat-x;
	text-align: center;
	color:#ffffff;
	font-weight: bold;
	font-size: 14px;
	margin: auto;
}
table.grid caption a{ color: #eeeeee}
table.grid caption a:hover{ color: #cccccc}

table.grid th, .head{
	border-bottom: 1px solid #dadcde;
	background: #f5f5f5;
	color:#666666;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding: 5px;
	line-height: 160%;
}

table.grid td{
	border: 1px solid #dadcde;
	padding: 5px;
	line-height: 160%;
}

table.hide, table.hide th, table.hide td{
	border: 0;
}

/* table add-ons */

.title{
	background: #e3e3e3;
	text-align: center;
	padding: 3px;
	color:#666666;
	font-weight: bold;
	font-size: 14px;
}

.even{
	background: #ffffff; 
}

.odd{
	background: #ffffff; 
}

.foot{
	background: #f5f5f5; 
	text-align: center;
}

.bottom{
	height: 9px;
	background: #b7b785; 
}

.tdl{
	background: #f9f9f9; 
	text-align: right;
}

.tdr{
	background-color: #ffffff; 
}

/* form */

form{}

input{vertical-align:middle;}

.text{
	border: 1px solid #dddddd; 
	background: #ffffff;
	color: #666666;
	height: 20px;
	line-height: 20px;
	vertical-align:middle;
}

.textarea{
	border: 1px solid #dddddd; 
	background: #ffffff;
	color: #666666; 
}

.button{
    background: #ddf2ff;
	color: #000000;
    border: 1px solid #83b0e1;
    height: 22px;
	line-height: 22px;
	padding:0px 3px;
	cursor: pointer;
	vertical-align: center;
}

.checkbox, .radio{border-width: 0px;margin-right:2px;}

.select{height: 21px; vertical-align:middle;}

.file{
	border: 1px solid #dddddd; 
	background: #ffffff;
	color: #000000;
	height: 20px;
	line-height: 20px;
	width:320px;
}
.filebutton{
	background: #e5edf2;
	color: #666666;
	border: 1px solid #dedede;
	height: 20px;
	line-height: 20px;
	padding: 0px 6px;
	margin-left:10px;
	cursor: pointer;
}
.filediv{margin-top:5px;}

.blocktitle{
  border-top: #ffffff 1px solid;
  border-left: #ffffff 1px solid;
  border-bottom: #83b0e1 1px solid;
  font-weight: bold; 
  font-size: 14px; 
  background-color: #e0edef;
  color: #054e86; 
  line-height: 26px; 
  padding-left: 10px;
}

.blockcontent{ width: 100%; margin: 0px !important; margin: 3px;}

.blocknote{border-top: #83b0e1 1px solid; padding: 3px; text-align: center;background: #F0F7FF; line-height: 150%;}

/* custom */
.ultop li{list-style: decimal inside; margin:5px 3px; border-bottom: 1px dashed #d8e4ef; color: #666666;}
.ultop li a{color: #ff4000;line-height:180%;}
.ulitem li{list-style: none;line-height:150%;padding-left:5px;}
.ulitem li a{color: #1f6cb8;}
.ulrow li{padding:5px;}
.ulcenter li{text-align: center;}
.ulmul{overflow: hidden;}
.ulmul li{line-height:150%;}
.ulnav{margin-left: 10px; font-size: 14px;}
.ulnav li{list-style:none; background:url("images/dot.gif") left 50% no-repeat; text-indent: 18px; line-height: 180%;}
.ulnum li{list-style:none; margin:5px 3px;}
.ulnum li em{background:#ff9900;color:#ffffff;display:inline-block;border:1px solid #ff6600;width:16px;height:14px;line-height:14px;text-align:center;margin-right:5px;font-style:normal;}

.fix, .lm{white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:left;}
.cr{clear:right;}
.cb{clear:both; font-size:0px; height:0px; overflow:hidden;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.more{text-align:right;margin-right:5px;line-height:200%;}

/* attention */

.hottext, a.hottext{color: #e64d00;}
.poptext, a.poptext{color: #266392;}
.notetext, a.notetext{color: #1979cc;}
.errortext, a.errortext{color: #ff0000;}
.red, a.red{color: #bd0102;}
.green, a.green{color: #008000;}
.blue, a.blue{color: #336699;}
.black, a.black{color: #333333;}
.white, a.white{color: #ffffff;}
.gray, a.gray{color: #989898;}
.yellow, a.yellow{color: #ffff00;}
.orange, a.orange{color: #ffa500;}

a.btnlink, a.btnlink:visited{display:inline-block;vertical-align:middle;height:26px;line-height:26px;font-size:12px;padding:0px 10px;color:#ffffff;text-align:center;background: #255dad url("images/btnlink.gif") repeat-x;border:1px solid #dddddd;}
a.btnlink:hover{color:#ffff99;text-decoration:none;position:relative;top:1px;left:1px;}
a.btnlinks, a.btnlinks:visited{display:inline-block;vertical-align:middle;height:18px;line-height:18px;font-size:12px;padding:0px 5px;color:#444444;text-align:center;background: #e5e5e5 url("images/btnlinks.gif") repeat-x;border:1px solid #999999;}
a.btnlinks:hover{color:#ff6600; text-decoration: none;}

/* interface */

.jieqiQuote, .jieqiCode, .jieqiNote{
	border: 1px solid #dddddd; 
	padding: 5px; 
	color: #000000; 
	background: #fafafa;
}

.divbox, .textbox{
	border: 1px solid #dddddd;
	padding: 5px;
	margin-bottom: 10px;
}

.ajaxtip{
	position:absolute;
	border: 1px solid #dddddd;
	background: #f0f7ff;
	color: #ff0000;
	font-size: 12px;
	line-height:150%;
	padding: 3px;
	z-index:700;
}

.menubox{
	position:absolute;
	border:5px solid #e8e8e8;
	background:#ffffff;
	z-index:800;
	padding:5px;
}

#tips {
	border: 1px solid #dddddd;
	padding: 3px;
	display: none;
	background: #f0f7ff;
	position: absolute;
	z-index: 900;
}

#dialog{
	position:absolute;
	top:0px;
	left:0px;
	border: 5px solid #e3e3e3;
	background: #f2f2f2;
	font-size: 12px;
	line-height:150%;
	padding: 15px 10px 10px 10px;
	visibility: hidden;
}

#mask{
	position:absolute;
	top:0px;
	left:0px;
	background: #777777;
	filter: Alpha(opacity=30);
	opacity: 0.3;
}

.tablist ul{height:25px; margin:0px; padding:0px;}
.tablist li{float:left; height:24px; list-style:none; margin-right:3px;}
.tablist li a{float:left; height:24px; line-height:24px; padding:0px 10px; display:block; font-weight:normal; background:#f0f0f0; text-decoration:none; color:#000000; border:1px solid #dddddd; border-bottom:none; }
.tablist li a.selected{font-weight:bold; background:#ffffff; border-top:2px solid #458fce; height:24px; position:relative; margin-bottom:-1px;}
.tabcontent{clear:both; border:1px solid #dddddd; padding:10px;}

.pages{
	padding: 5px 0px;
}
.pagelink{
	border: 1px solid #dedede;
	float: right;
	background: #f0f0f0;
	line-height:24px;
	padding:0;
}
.pagelink a, .pagelink strong, .pagelink em, .pagelink kbd, .pagelink a.first, .pagelink a.last, .pagelink a.prev, .pagelink a.next, .pagelink a.pgroup, .pagelink a.ngroup{
	float: left;
	padding: 0 6px;
}
.pagelink a:hover{background-color: #ffffff; }
.pagelink strong{font-weight: bold; color: #ff6600; background: #e3e3e3;}
.pagelink kbd{height:24px; border-left: 1px solid #dddddd;}
.pagelink em{height:24px; border-right: 1px solid #dddddd; font-style:normal;}
.pagelink input{border: 1px solid #dddddd; color: #666666; margin-top:1px; height: 18px;}

img.avatar{border: 0px;}
img.avatars{width: 48px; height: 48px; background:url("images/avatars_bg.gif") right bottom; padding:3px 7px 7px 3px; cursor:pointer;}
img.avatari{width: 16px; height: 16px; border: 1px solid #e3e3e3;margin-bottom:-3px;}

/* admin */

#login{
	width:441px;
	height:276px;
	margin:120px auto 0px auto;
	background: url("images/bg_login.gif") no-repeat;
}
   
#login ul{
	padding:65px 0px 0px 190px;
}

#l_m{
	padding-bottom:10px;
    background-image: url("images/l_bg_b.gif");
	background-repeat: no-repeat;
	background-position: center bottom;
}
 
#login li{
   list-style:none;
   margin:0px 0px 9px 0px;
}

#login a{
   color:#2788ba;
   text-decoration:none;
}
   
#login a:hover{
   color:#e34a00;
   text-decoration:underline;
}

input.login_button{
    width:62px;
	height:26px;
	background-image: url("images/btn_login.gif");
	border:none;
	background-repeat: no-repeat;
	cursor: pointer;
}

#logintitle{
	font-size:20px;
	font-weight:bold;
	padding:8px 0px 0px 43px;
	background: url("images/titleico.gif") no-repeat 5px middle;
	color:#006594;
	height:32px;
	line-height:32px;
}