<style type="text/css">
.rewarddir {
    width: 90%;
    margin: 10px auto 0;
}
.rewarddir td {
    padding: 2px 5px;
}
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.xubox_shade {
    top: 0;
    left: 0;
    width: 100%;
    _height: 100%;
    _height: expression(document.body.offsetHeight+"px");
}
input {
    _-webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border: 2px inset;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}
input, textarea, keygen, select, button {
    margin: 0em;
    font: 13.3333px Arial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
textarea {
    -webkit-appearance: textarea;
    background-color: white;
    border: 1px solid;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    padding: 2px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
input[type="radio" i] {
    margin: 3px 3px 0px 5px;
}
input[type="radio" i] {
    -webkit-appearance: radio;
    box-sizing: border-box;
}
input[type="radio" i], input[type="checkbox" i] {
    margin: 3px 0.5ex;
    padding: initial;
    background-color: initial;
    border: initial;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #45A1B8;
    padding: 0 30px;
    border: none;
    border-radius: 0;
}
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-radius: 4px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    height: 30px;
}	
</style>

<div times="1" id="xubox_shade1" class="xubox_shade" style="z-index:19891015;  opacity:0.3; filter:alpha(opacity=30);"></div>
<div times="1" showtime="0" style="z-index: 19891016; width: 360px; height: 460px; _margin-left: -150px; top: -12px; left: 50%;" id="xubox_layer1" class="xubox_layer" type="page">
<div style="background-color:#fff; z-index:19891015" class="xubox_main"><div class="xubox_page" style="top: 36px;"><div class="xuboxPageHtml">
    <div style="width:330px;margin-left:10px;">
        <form action="{?$jieqi_modules['article']['url']?}/gifts.php?do=submit" method="post" id="formgift" name="formgift" target="_blank">
            <table class="rewarddir">
                <tbody><tr>
                    <td><label onclick="$('.reply').val('多更多福气。哗啦啦的魔法币送上，祝大大早日立地成神！。')">
                        <input type="radio" id="rid" name="rid" checked="checked" value="2">
                    
                    魔法币<span style="color: #f60;">{?$redroseprice?}</span> 小说币/个</label></td>
                    <td style="text-align:right;"><img src="/sink/image/r-flower.png"></td>
                    </tr>
                <tr>
                    <td><label onclick="$('.reply').val('爱的玫瑰，愿大大的妙笔在夜莺眼泪的浇灌下，开出更美妙的花！')">
                        <input type="radio" id="rid" name="rid" value="3">
                    
                    鲜花 <span style="color: #f60;">{?$yellowroseprice?}</span> 小说币/个</label></td>
                    <td style="text-align:right;"><img src="/sink/image/r-flower.png"></td>
                    </tr>
                <tr>
                    <td><label onclick="$('.reply').val('作者大大的文字醇郁芬芳，如同白雪公主饮过的葡萄酒！')">
                        <input type="radio" id="rid" name="rid" value="4">
                    
                    葡萄酒 <span style="color: #f60;">{?$blueroseprice?}</span> 小说币/个</label></td>
                    <td style="text-align:right;"><img src="/sink/image/r-wine.png"></td>
                    </tr>
                <tr>
                    <td><label onclick="$('.reply').val('丘比特派我给大大送来能量巧克力，保管您瞬间文思泉涌！')">
                        <input type="radio" id="rid" name="rid" value="5">
                    
                    巧克力 <span style="color: #f60;">{?$whiteroseprice?}</span> 小说币/个</label></td>
                    <td style="text-align:right;"><img src="/sink/image/r-cake.png"></td>
                    </tr>
                <tr>
                    <td><label onclick="$('.reply').val('谢谢作者大大满足了我们的最初幻想，梦幻的水晶鞋送上！')">
                        <input type="radio" id="rid" name="rid" value="6">
                    
                    水晶鞋 <span style="color: #f60;">{?$greenroseprice?}</span> 小说币/个</label></td>
                    <td style="text-align:right;"><img src="/sink/image/r-shoes.png"></td>
                    </tr>
                <tr>
                    <td><label onclick="$('.reply').val('大大的文字就像是坐上南瓜马车的灰姑娘的人生一般精彩！')">
                        <input type="radio" id="rid" name="rid" value="7">
                    
                    马车 <span style="color: #f60;">{?$blackroseprice?}</span> 小说币/个</label></td>
                    <td style="text-align:right;"><img src="/sink/image/r-gharry.png"></td>
                    </tr>
                </tbody></table>
            <table class="rewarddir">
                <tbody><tr>
                    <td width="30">数量</td>
                    <td><input type="text" class="form-control" style="width:95%;padding:3px 5px;border-color:#ccc" placeholder="数量" name="count" id="count" value="1"></td>                    
                    </tr>
                <tr>
                    <td>留言</td>
                    <td>
                        <textarea rows="3" style="width:95%;resize: none;padding:3px 5px;border-color:#ccc" class="form-control reply" placeholder="打赏内容" name="reply">多更多福气。哗啦啦的魔法币送上，祝大大早日立地成神！</textarea>
                    </td>                    
                    </tr>
                </tbody></table>
         <input type="hidden" name="act" value="post" />{?$jieqi_token_input?}
		<input type="hidden" name="id" value="{?$articleid?}" />
 <!--        <button type="submit" class="btn btn-success btn-sm btn-block" style="margin-top:10px;" onclick="Ajax.Request('formgift',{onComplete:function(){alert(this.response.replace(/<br[^<>]*>/g,'\n'));Form.reset('formgift');
}});">捧场</button> -->
<input type="button" name="Submit" class="btn btn-success btn-sm btn-block" style="margin-top:10px;" value=" 发表书评 " style="cursor:pointer;" onclick="Ajax.Request('formgift',{onComplete:function(){alert(this.response.replace(/<br[^<>]*>/g,'\n'));Form.reset('formgift');
}});"> 
            </form>
        </div>
</div></div></div>
