/* base */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a,
del, dfn, em, img,
small, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
}

table, form {
    margin: 0 auto;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1.6;
    font-size: 87.5%;
    font-family: "Microsoft YaHei", SimSun, Verdana, Arial, sans-serif;
    color: #333333;
    background-color: #fff;
    word-wrap: break-word;
    word-break: break-all;
    _behavior: url("/css/csshover3.htc");
}

ul {
    list-style: none;
    line-height: 1.8;
}

ol{
    line-height: 1.8;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}

input {
    vertical-align: middle;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #dddddd;
    clear: both;
    margin: 0.3em auto;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

/* table */
table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

caption {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all;
}

table.fix {
    table-layout: fixed;
}

table.fix td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

table.grid {
    border: 1px solid #ddd;
    background: #fff;
}

table.grid caption, .gridtop {
    height: 2.5em;
    line-height: 2.5em;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-weight: bold;
    font-size: 114.3%;
    color: #017ab6;
    background: #f2f2f2;
    background-image: -webkit-linear-gradient(top, #f2f2f2, #fff);
    background-image: -moz-linear-gradient(top, #f2f2f2, #fff);
    background-image: -ms-linear-gradient(top, #f2f2f2, #fff);
    background-image: -o-linear-gradient(top, #f2f2f2, #fff);
    background-image: linear-gradient(top, #f2f2f2, #fff);
}

table.grid th {
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
    color: #666666;
    font-weight: bold;
    line-height: 2.5;
    padding: 0 0.3em;
}

table.grid tr {
    border-bottom: 1px dashed #ddd;
}

table.grid td {
    padding: 0.4em;
}

table.hide, table.hide caption, table.hide tr, table.hide th, table.hide td {
    border: 0;
}

/* table add-ons */
.title {
    background: #ddd;
    text-align: center;
    color: #666666;
    font-weight: bold;
    line-height: 2.5;
}

.odd {
    background: #fff;
}

.even {
    background: #f2f2f2;
}

.head {
    background: #f9f9f9;
    color: #666666;
    text-align: center;
    font-weight: bold;
    line-height: 2;
}

.topic {
    background: #f9f9f9;
    color: #666666;
    text-align: left;
    font-weight: bold;
    line-height: 2;
}

.foot {
    background: #f5f5f5;
    text-align: center;
    line-height: 2.5;
}

.bottom {
    background: #b7b785;
}

.tdl {
    background: #f9f9f9;
    text-align: right;
    font-weight: bold;
}

.tdr {
    background-color: #fff;
}

/* form */
.form {
    border: 1px solid #ddd;
    margin-bottom: 0.6em;
    padding: 0.6em;
    overflow: hidden;
    background: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.form fieldset {
    margin: 0;
    padding: 0.3em 0;
    border: 0;
}

.form legend {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.2em;
    text-align: center;
    color: #017ab6;
    font-weight: bold;
    font-size: 114.3%;
    line-height: 2;
}

.form label {
    display: inline-block;
    margin: 0 0.6em 0 0;
    text-align: right;
    vertical-align: middle;
    width: 20%;
}

.fl_0 label {
    display: block;
    margin: 0.2em 0;
    text-align: left;
}

.fl_1 label {
    width: 10%;
}

.fl_2 label {
    width: 20%;
}

.fl_3 label {
    width: 30%;
}

.fl_4 label {
    width: 40%;
}

.fl_5 label {
    width: 50%;
}

.frow {
    margin: 0.6em 0;
}

.f_s {
    font-size: 85.7%;
}

.f_l {
    font-size: 114.3%;
}

.textarea, .text, .file {
    border: 1px solid #ddd;
    box-shadow: 1px 1px 2px #e2e2e2 inset;
    background: #fff;
    color: #666666;
}

.text {
    padding: 0.3em;
}

.t_s {
    padding: 0.15em;
}

.t_l {
    padding: 0.5em;
}

.filediv {
    margin-top: 0.3em;
}

.button, .btnlink, .filebutton {
    display: inline-block;
    line-height: 1.4;
    padding: 0.3em 0.6em;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #1c86d4;
    text-shadow:0 1px 0 #1c86d4;
    color: #fff;
    background: #3cb0fd;
    text-decoration: none;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(top, #3cb0fd, #3498db);
}

.button:hover, .btnlink:hover {
    text-decoration: none;
    color: #fff;
    background: #00c9fe;
    background-image: -webkit-linear-gradient(top, #00c9fe, #008db2);
    background-image: -moz-linear-gradient(top, #00c9fe, #008db2);
    background-image: -ms-linear-gradient(top, #00c9fe, #008db2);
    background-image: -o-linear-gradient(top, #00c9fe, #008db2);
    background-image: linear-gradient(top, #00c9fe, #008db2);
}

.b_s {
    padding: 0.15em 0.3em;
}

.b_l {
    padding: 0.5em 0.75em;
}

.b_hot{
	color: #ffffff;
	border: 1px solid #828282;
	background: #f60000;
	background-image: -webkit-linear-gradient(top, #f60000, #990000);
	background-image: -moz-linear-gradient(top, #f60000, #990000);
	background-image: -ms-linear-gradient(top, #f60000, #990000);
	background-image: -o-linear-gradient(top, #f60000, #990000);
	background-image: linear-gradient(top, #f60000, #990000);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f60000', endColorstr='#990000', GradientType='0');
}
.b_hot:hover{
	color: #ffffff;
	background: #f50000;
	background-image: -webkit-linear-gradient(top, #f50000, #ba0000);
	background-image: -moz-linear-gradient(top, #f50000, #ba0000);
	background-image: -ms-linear-gradient(top, #f50000, #ba0000);
	background-image: -o-linear-gradient(top, #f50000, #ba0000);
	background-image: linear-gradient(top, #f50000, #ba0000);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f50000', endColorstr='#ba0000', GradientType='0');
}

.b_pop {
    border: 1px solid #c85e0b;
    color: #fff;
    background-image: -webkit-linear-gradient(top, #f37b1d, #e0690c);
    background-image: -moz-linear-gradient(top, #f37b1d, #e0690c);
    background-image: -ms-linear-gradient(top, #f37b1d, #e0690c);
    background-image: -o-linear-gradient(top, #f37b1d, #e0690c);
    background-image: linear-gradient(top, #f37b1d, #e0690c);
}
.b_pop:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #e0690c, #f37b1d);
    background-image: -moz-linear-gradient(top, #e0690c, #f37b1d);
    background-image: -ms-linear-gradient(top, #e0690c, #f37b1d);
    background-image: -o-linear-gradient(top, #e0690c, #f37b1d);
    background-image: linear-gradient(top, #e0690c, #f37b1d);
}

.b_gray {
    border: 1px solid #dcdcdc;
    color: #777777;
    background-image: -webkit-linear-gradient(top, #ededed, #dfdfdf);
    background-image: -moz-linear-gradient(top, #ededed, #dfdfdf);
    background-image: -ms-linear-gradient(top, #ededed, #dfdfdf);
    background-image: -o-linear-gradient(top, #ededed, #dfdfdf);
    background-image: linear-gradient(top, #ededed, #dfdfdf);
}

.b_gray:hover {
    color: #777777;
    background-image: -webkit-linear-gradient(top, #dfdfdf, #ededed);
    background-image: -moz-linear-gradient(top, #dfdfdf, #ededed);
    background-image: -ms-linear-gradient(top, #dfdfdf, #ededed);
    background-image: -o-linear-gradient(top, #dfdfdf, #ededed);
    background-image: linear-gradient(top, #dfdfdf, #ededed);
}

.checkbox, .radio {
    border-width: 0;
    margin-right: 0.15em;
}

.select {
    padding: 0.3em;
}

/* layout */
.main {
    max-width: 1000px;
    clear: both;
    margin: 0 auto;
    _width: expression(document.body.clientWidth > 1000 ? "1000px" : "auto");
    _height: 0;
}

.row {
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    float: left;
    margin-right: 1%;
    *margin-right: 0.5%;
    overflow: hidden;
}

.col1 {
    width: 7.4166%;
}

.col2 {
    width: 15.8333%;
}

.col3 {
    width: 24.25%;
}

.col4 {
    width: 32.6666%;
}

.col5 {
    width: 41.0833%;
}

.col6 {
    width: 49.5%;
}

.col7 {
    width: 57.9166%;
}

.col8 {
    width: 66.3333%;
}

.col9 {
    width: 74.75%;
}

.col10 {
    width: 83.1666%;
}

.col11 {
    width: 91.5833%;
}

.col12 {
    width: 100%;
    float: none;
    margin: 0;
}

.row .last {
    float: right;
    margin-right: 0;
}

@media (min-width: 641px) and (max-width: 1024px) {
    .col1 {
        width: 10.2222%;
    }

    .col2 {
        width: 21.4444%;
    }

    .col3 {
        width: 32.6666%;
    }

    .col4 {
        width: 43.8888%;
    }

    .col5 {
        width: 55.1111%;
    }

    .col6 {
        width: 66.3333%;
    }

    .col7 {
        width: 77.5555%;
    }

    .col8 {
        width: 88.7777%;
    }

    .col9,
    .col10,
    .col11 {
        width: 100%;
        float: none;
        margin: 0;
    }
}

@media all and (max-width: 640px) {
    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
        width: 100%;
        float: none;
        margin: 0;
    }
}

.top {
    line-height: 2.2;
    vertical-align: middle;
    margin-bottom: 0.3em;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.top a:hover {
    text-decoration: none;
}

.topnav {
}

.topnav sup {
    background: #da4453;
    color: #fff;
    display: inline-block;
    height: 1.2em;
    line-height: 1.2em;
    vertical-align: top;
    margin: 0.5em 0 0 0.2em;
    padding: 0 0.4em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.topnav li {
    float: left;
    padding: 0 0.5em;
}

.topnav li.dropdown {
    padding: 0;
}

.header {
    margin: 0.6em auto;
}

.logo {
    text-align: left;
}

.banner {
    text-align: center;
}

.mainnav {
    line-height: 2.5em;
    background: #2fa4e7;
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -moz-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -ms-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
}

.mainnav a {
    display: block;
    text-align: center;
    line-height: 2.5em;
    font-size: 114.3%;
    font-weight: bold;
    padding: 0 0.75em;
    text-decoration: none;
    color: #fff;
}

.mainnav a:hover {
    text-decoration: none;
    background: #178acc;
}

.mainnav li {
    float: left;
}

.subnav {
    line-height: 2.4em;
    text-align: center;
    color: #ddd;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.subnav a {
    text-align: center;
    font-family: SimSun, Verdana, Arial, sans-serif;
    color: #333333;
    line-height: 2;
    padding: 0 0.4em;
    text-decoration: none;
}

.subnav a:hover {
    color: #ff6600;
    text-decoration: underline;
}

.body {
    background: #f5f5f5;
    padding: 1em 0;
}

.footer {
    border-top: 1px solid #dee0e1;
    color: #979797;
    text-align: center;
    padding: 1em 0;
    line-height: 1.8;
    clear: both;
}

.block, .blockc, .blockb {
    border: 1px solid #ddd;
    overflow: hidden;
    background: #fff;
}

.block, .blockc {
    margin-bottom: 10px;
}

._blocktitle {
    height: 2.5em;
    line-height: 2.5em;
    font-size: 114.3%;
    text-indent: 0.6em;
    margin-bottom: 1px;
    padding: 0 0 1px 0;
    border-bottom: 1px solid #d2d2d2;
    text-shadow: 0 -1px 1px #f2f2f2;
    color: #017ab6;
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #f2f2f2, #ffffff);
    background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff);
    background-image: -ms-linear-gradient(top, #f2f2f2, #ffffff);
    background-image: -o-linear-gradient(top, #f2f2f2, #ffffff);
    background-image: linear-gradient(top, #f2f2f2, #ffffff);
}
.blocktitle{
    margin-bottom: 20px;
    padding-top: 11px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}
.blocktitle li {
    text-indent: 0;
}
.blocktitle ul.tabf {
    margin-top: 0.8em;
    padding: 0;
}
.blocktitle ul.tabf li {
    float: left;
    padding: 0;
    margin: 0 0.3em 0 0;
}
.blocktitle ul.tabf li a {
    display: block;
    float: left;
    height: 1.7em;
    line-height: 1.7em;
    padding: 0 0.3em;
    margin: 0;
    font-weight: normal;
    background: #f0f0f0;
    text-decoration: none;
    color: #000000;
    border: 1px solid #d2d2d2;
    border-bottom: none;
}
.blocktitle ul.tabf li a.selected {
    font-weight: bold;
    background: #ffffff;
    border-top: 2px solid #458fce;
}
.blocktitle ul.tabb {
    width: 100%;
    margin: 0;
    padding: 0;
}
.blocktitle ul.tabb li {
    float: left;
    padding: 0;
    margin: 0;
}
.blocktitle ul.tab2 li {
    width: 50%;
}
.blocktitle ul.tab3 li {
    width: 33.33%;
}
.blocktitle ul.tab4 li {
    width: 25%;
}
.blocktitle ul.tab5 li {
    width: 20%;
}
.blocktitle ul.tabb li a {
    display: block;
    height: 2.5em;
    line-height: 2.5em;
    font-weight: normal;
    background: #f0f0f0;
    color: #000000;
    text-decoration: none;
    text-align: center;
}
.blocktitle ul.tabb li a.selected {
    font-weight: bold;
    background: #ffffff;
    color: #017ab6;
    padding-top: 2px;
}

.blockcontent {
    margin: 0.5em;
}

.blocknote {
    border-top: 1px solid #ddd;
    margin: 0.3em;
    text-align: center;
    background: #fbfbfb;
    line-height: 150%;
}

/* text */
.ultop li, .ullist li, .ulnav li, .ulnum li, .ultwo li, .ulhover li {
    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.ultop em, .ullist em, .ulnav em, .ulnum em, .ulhover em {
    float: right;
    font-style: normal;
    color: #989898;
}

.ultop li {
    list-style: decimal inside;
    margin: 0.3em 0.2em;
    border-bottom: 1px dashed #d8e4ef;
    color: #666666;
}

.ultop li a {
    color: #017AB6;
}

.ulitem li {
    list-style: none;
    padding-left: 0.3em;
}

.ulrow li {
    padding: 0.2em 0;
}

.ulcol li {
    margin: 0.3em;
    text-align: center;
}

.ulcenter li {
    text-align: center;
    font-size: 114.3%;
}

.ulcenter li:before {
    content: "";
    vertical-align: middle;
    font-size: 0;
    border: 2px solid #38a4ec;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-right: 5px;
}

.ulnav {
    font-size: 114.3%;
}

.ulnav li {
    line-height: 1.8;
    text-indent: 0.2em;
}

.ulnav li i {
    font-style: normal;
    color: #017AB6;
    margin-right: 0.3em;
}

.ultab {
    height: 30px;
    margin: 0;
    padding: 0;
}

.ultab li {
    float: left;
    list-style: none;
    margin-right: 0.2em;
}

.ultab li a {
    display: block;
    float: left;
    height: 29px;
    line-height: 29px;
    padding: 0 0.6em;
    font-weight: normal;
    background: #f0f0f0;
    text-decoration: none;
    color: #000000;
    border: 1px solid #ddd;
    border-bottom: none;
}

.ultab li a.selected {
    font-weight: bold;
    background: #fff;
    text-decoration: none;
    border-top: 2px solid #458fce;
    position: relative;
    margin-bottom: -1px;
}

.ulnum li, .ulhover li {
    list-style: none;
    margin: 0.2em 0.2em;
}

.ulnum li b, .ulnum li i, .ulhover li b, .ulhover li i {
    background: #ff9900;
	color: #fff;
	display: inline-block;
	width: 1.6em;
	height: 1.6em;
	line-height: 1.6em;
	font-style: normal;
	font-weight: normal;
	font-size: 85.7%;
	text-align: center;
	margin-right: 0.5em;
}

.ulnum li i, .ulhover li i {
    background: #f2f2f2;
    color: #333;
}
.ulhover li.selected span{
    font-style: normal;
}
.ulhover li div{
    position: relative;
    display: none;
}
.ulhover li div b, .ulhover li div i{
    position: absolute;
    left: 0;
    top: 0;
}
.ulhover li.selected span{
    display: none;
}
.ulhover li.selected div{
    display: block;
}

.ulhover li img{
    width: 27%;
    float:left;
}
.ulhover li p{
    width: 68%;
    margin-left: 5%;
    line-height: 1.8;
    float:left;
    overflow: hidden;
}

.ultwo li {
    width: 49.9%;
    padding: 0;
    margin: 0;
    float: left;
    overflow: hidden;
}

.ultag {
}

.ultag li {
    float: left;
    display: inline-block;
    margin: 0.5em 1em 0.5em 0;
    border: 1px solid #dddddd;
    background: #f2f2f2;
    padding: 0 0.3em;
    line-height: 1.5;
    white-space: nowrap;
}

.ultag .taguse {
    border: 1px solid #fa9915;
    background: #ffffe9;
}

.libleft {
    float: left;
    width: 70%;
    overflow: hidden;
}

.libright {
    float: right;
    width: 30%;
    overflow: hidden;
    color: #989898;
    text-align: right;
}

.fix, .lm {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.cf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.cf {
    *zoom: 1;
}

.cb {
    clear: both;
    font-size: 0;
    height: 0;
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.mt {
    margin-top: 0.6em;
}

.mb {
    margin-bottom: 0.6em;
}

.hot, .hottext, a.hot, a.hottext {
    color: #c60f13;
}

.pop, .poptext, a.pop, a.poptext {
    color: #266392;
}

.note, .notetext, a.note, a.notetext {
    color: #1979cc;
}

.error, .errortext, a.error, a.errortext {
    color: #ff0000;
}

.warning, a.warning {
    color: #ffa500;
}

.gray, a.gray {
    color: #989898;
    padding: 0 0.2em;
}

.black, a.black {
    color: #333333;
}

.white, a.white {
    color: #fff;
}

.more, .more a, a.more {
    display: block;
    color: #aaaaaa;
    text-align: right;
    margin-right: 0.3em;
    line-height: 200%;
}

.moretop, .moretop a, a.moretop {
    display: block;
    height: 2.25em;
    line-height: 2.25em;
    color: #aaa;
    text-align: right;
    margin: -3em 0.3em 0.5em 0;
}

.c_main {
    border: 1px solid #cccccc;
    border-top: 3px solid #898989;
    margin-bottom: 0.6em;
    overflow: hidden;
    background: #fafafa;
}

.c_nav {
    margin-bottom: 0.3em;
    line-height: 2.25em;
    font-weight: bold;
    font-size: 114.3%;
    border: 1px solid #dedede;
    padding-left: 0.6em;
    background: #fff;
    background-image: -webkit-linear-gradient(top, #f2f2f2, #fff);
    background-image: -moz-linear-gradient(top, #f2f2f2, #fff);
    background-image: -ms-linear-gradient(top, #f2f2f2, #fff);
    background-image: -o-linear-gradient(top, #f2f2f2, #fff);
    background-image: linear-gradient(top, #f2f2f2, #fff);
}

.c_title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 128.6%;
    line-height: 2.5;
}

.c_head {
    line-height: 2;
    padding: 0.3em;
    border-bottom: 1px solid #E4E4E4;
}

.c_content {
    line-height: 1.6;
    padding: 1.25em;
}

.c_foot {
    font-size: 114.3%;
    line-height: 1.6;
    list-style: none;
}

.c_tag {
    padding: 0.5em 0;
}

.c_label {
    font-weight: bold;
}

.c_value {
    color: #666666;
    margin-right: 1.25em;
}

.c_row {
    border-bottom: 1px dashed #ddd;
    padding: 0.3em;
}

.c_subject {
    font-size: 114.3%;
    font-weight: bold;
    line-height: 200%;
}

.c_subject a {
    font-weight: bold;
    color: #0B65A7;
}

/* interface */
.jieqiQuote, .jieqiCode, .jieqiNote {
    border: 1px solid #ddd;
    border-left: 5px solid #ddd;
    padding: 0.3em;
    color: #000000;
    background: #fafafa;
}

.divbox, .textbox {
    border: 1px solid #ddd;
    padding: 0.5em;
    margin-bottom: 0.6em;
    background: #fff;
}

.divbg{
    padding: 0.5em;
    margin: 0.5em 0;
    background: #f5f5f5;
}

.ajaxtip {
    position: absolute;
    border: 1px solid #ddd;
    background: #fff;
    color: #ff0000;
    padding: 0.2em 0.3em;
    z-index: 800;
}

#dialog, .dialog {
    position: absolute;
    visibility: hidden;
    border: 1px solid #ddd;
    background: #f2f2f2;
    -webkit-box-shadow: 3px 3px 3px 3px #bababa;
    box-shadow: 3px 3px 3px 3px #bababa;
}

.dialog_t {
    color: #fff;
    font-size: 114.3%;
    line-height: 2.5em;
    padding-left: 0.6em;
    background: #79bbff;
    background-image: -webkit-linear-gradient(top, #378de5, #79bbff);
    background-image: -moz-linear-gradient(top, #378de5, #79bbff);
    background-image: -ms-linear-gradient(top, #378de5, #79bbff);
    background-image: -o-linear-gradient(top, #378de5, #79bbff);
    background-image: linear-gradient(top, #378de5, #79bbff);
}

.dialog_t a {
    text-decoration: none;
    display: inline-block;
    float: right;
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #fff;
    border: 2px solid #fff;
    margin: 10px;
}

.dialog_t a:hover {
    color: #f60;
    margin: 11px 9px 9px 11px;
}

.dialog_c {
    padding: 0.6em;
}

#mask, .mask {
    position: absolute;
    top: 0;
    left: 0;
    background: #777777;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.pages {
    padding: 0.5em 0;
    overflow: auto;
}

.pages a.pagemore {
    display: block;
    float: none;
    border: 1px solid #dddddd;
    background: #eeeeee;
    font-size: 125%;
    text-align: center;
    line-height: 2;
}

.pagelink {
    border: 1px solid #dedede;
    float: right;
    background: #fff;
    line-height: 2em;
    padding: 0;
}

.pagelink a,
.pagelink strong,
.pagelink em,
.pagelink kbd,
.pagelink a.first,
.pagelink a.last,
.pagelink a.prev,
.pagelink a.next,
.pagelink a.pgroup,
.pagelink a.ngroup {
    float: left;
    padding: 0 0.4em;
}

.pagelink a:hover {
    background-color: #fff;
}

.pagelink strong {
    font-weight: bold;
    color: #ff6600;
    background: #ddd;
}

.pagelink kbd {
    border-left: 1px solid #ddd;
}

.pagelink em {
    border-right: 1px solid #ddd;
    font-style: normal;
}

.pagelink em a {
    display: inline-block;
    float: none;
    background: #f5f5f5;
    border: 1px solid #dddddd;
    line-height: 18px;
    padding: 0 2px;
    margin: 0 3px;
}

.pagelink input {
    border: 1px solid #ddd;
    color: #666666;
    padding: 0.12em;
    text-align: center;
}

img.avatar {
    border: 0;
}

img.avatars {
    width: 48px;
    height: 48px;
    padding: 3px;
    margin-right: 5px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px #666666;
    -moz-box-shadow: 0 1px 3px #666666;
    box-shadow: 0 1px 3px #666666;
    cursor: pointer;
}

img.avatari {
    width: 1em;
    height: 1em;
    border: 1px solid #cccccc;
    margin-bottom: -0.2em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* tab */
.tablist ul {
    margin: 0;
    padding: 0;
}

.tablist li {
    float: left;
    list-style: none;
    margin-right: 0.2em;
}

.tablist li a {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 0.6em;
    font-weight: normal;
    background: #f0f0f0;
    text-decoration: none;
    color: #000000;
    border: 1px solid #ddd;
    border-bottom: none;
}

.tablist li a.selected {
    font-weight: bold;
    background: #fff;
    text-decoration: none;
    border-top: 2px solid #458fce;
    position: relative;
    margin-bottom: -1px;
}

.tabcontent {
    clear: both;
    border: 1px solid #ddd;
    padding: 0.6em;
}

/* dropdown */
.dropdown {
    display: inline-block;
    padding: 0;
}

.dropdown a:hover {
    text-decoration: none;
}

.dropdown b {
    border: 4px solid transparent;
    border-top-color: #666;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    margin-left: 3px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.dropdown:hover b {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dropdown a.droplink {
    display: block;
    position: relative;
    z-index: 500;
    margin: -1px 0 0 0;
    padding: 1px 5px 0 5px;
}

.dropdown:hover a.droplink {
    padding: 0 4px 0 4px;
    border: 1px solid #ddd;
    border-bottom: none;
    background: #fff;
}

.dropdown:hover div, .dropdown:hover ul {
    display: block;
}

.dropbox {
    display: none;
    position: absolute;
    z-index: 400;
    border: 1px solid #ddd;
    background: #fff;
    padding: 0.5em;
}

.droplist {
    display: none;
    position: absolute;
    margin-top: -1px;
    z-index: 400;
    border: 1px solid #ddd;
    background: #fff;
}

.droplist li {
    float: none;
    padding: 0;
}

.droplist li a {
    display: inline-block;
    text-align: left;
    padding: 0 1em;
    text-decoration: none;
}

.droplist li a:hover {
    background: #f3f3f3;
    text-decoration: none;
}

/* dropmenu */
.dropmenu {
}

.dropmenu a {
    display: block;
}

.dropmenu li {
    float: left;
}

.dropmenu li:hover {
    background: #178acc;
}

.dropmenu li ul {
    display: none;
    position: absolute;
    margin-top: 0;
    z-index: 700;
    background: #178acc;
}

.dropmenu li ul li {
    float: none;
    padding: 0;
    background: transparent;
    line-height: 2em;
}

.dropmenu li ul a {
    display: block;
    text-align: left;
    font-size: 100%;
    font-weight: normal;
    padding: 0 1em;
    color: #fff;
    text-decoration: none;
}

.dropmenu li ul a:hover {
    background: #3cb0fd;
}

.dropmenu li:hover ul {
    display: block;
}

/* custom */
.slidetitle {
    width: 58px;
    margin: 8px 8px 0 0;
    float: right;
    display: inline;
}

.slidetitle li {
    margin-bottom: 11px;
}
.slidetitle li.last{
    margin: 0;
}

.slidetitle li a img{
    vertical-align: bottom;
    width: 56px;
    height: 70px;
    border: 1px solid #ccc;
    opacity: 0.7;
    font-size: 0;
}

.slidetitle li a.selected img{
    border: 1px solid #f60;
    opacity: 1;
}

.slidecontent {
    width: 242px;
    height: 404px;
    overflow: hidden;
    margin: 8px 0 8px 8px;
    float: left;
    display: inline;
    background: #f2f2f2;
}

.slidecontent img {
    width: 240px;
    height: 300px;
    border: 1px solid #ccc;
}

.slidecontent span {
    font-size: 114.3%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0.3em;
}

.slidecontent p {
    padding: 0 0.3em;
}

/* iconfont */
@font-face {
    font-family: 'iconfont';
    src: url('fonts/iconfont.eot'); /* IE9*/
    src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('fonts/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    width: 1.4em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* index */
.blockc .bh{
    width: 46%;
    float: left;
    padding: 2%;
}
.blockc .bt{
    padding: 5px;
    margin-bottom:10px;
    background: #f0f0f0;
}
.blockc .bc img{
    width: 80px;
    height: 100px;
    margin: 0 10px 10px 0;
    float: left;
    border: 1px solid #cccccc;
    padding: 2px;
}

.blockc .bc p{
    font-size: 85.7%;
}