<ul class="ulnav">
  <li><a href="{?$article_dynamic_url?}/myarticle.php">作家首页</a></li>
  <li><a href="{?$article_static_url?}/newarticle.php">发表小说</a></li>
  <li><a href="{?$article_dynamic_url?}/masterpage.php">管理小说</a></li>
  <li><a href="{?$article_dynamic_url?}/tool.php?id=1">申请签约</a></li>
  <li><a href="{?$article_dynamic_url?}/tool.php?id=2">申请上架</a></li>
  {?if $jieqi_modules['obook']['publish'] > 0?}
  <li><a href="{?$jieqi_modules['obook']['url']?}/masterpage.php">收入管理</a></li>
  {?/if?}
  <li><a href="{?$article_dynamic_url?}/newdraft.php">新建草稿</a></li>
  <li><a href="{?$article_dynamic_url?}/draft.php">管理草稿</a></li>
  <li><a href="{?$jieqi_url?}/ptopics.php?oid=self">我的留言</a></li>
  <li><a href="{?$article_dynamic_url?}/authorpage.php">我的专栏</a></li>
</ul>