{?section name=i loop=$articlerows?}
<li class="index-1 column-2"><div class="left"><a data-collect-index="1" href="{?$articlerows[i].url_articleinfo?}" target="_blank"><img src="{?$articlerows[i].url_image?}" class="hy-is-placeholder" width="50" height="70" alt="{?$articlerows[i].articlename?}"></a></div><div class="right"><h5><a data-collect-index="1" target="_blank" href="{?$articlerows[i].url_articleinfo?}" class="name">{?$articlerows[i].articlename?}</a></h5><p>×÷Õß£º<a class="author">   {?$articlerows[i].author?}</a></p></div></li>

{?/section?} 



