{?set jieqi_page_rows = "50"?}
<table class="grid" width="100%" align="center"><tr align="center" class="head">
	
<th width="20%" class="head">申请书名</th>
<th width="5%" class="head">小说ID</th>
    <th width="35%" class="head">申请时间</th>
	<th width="13%" class="head">申请状态</th>
<th width="13%" class="head">申请类型</th>
	<th width="50%" class="head">操作</th>  </tr>
  {?section name=i loop=$monthlyrows?}
  <tr valign="middle">	
  <td><a href="/modules/article/articleinfo.php?id={?$monthlyrows[i].bookid?}" target="_blank">{?$monthlyrows[i].bookname?}</a></td>
  <td>{?$monthlyrows[i].bookid?}</td>
	<td>{?$monthlyrows[i].date|date:'Y-m-d'?}</td>
    <td>{?if $monthlyrows[i].typeid == 0?}处理中{?elseif $monthlyrows[i].typeid == 1?}已失败{?elseif $monthlyrows[i].typeid == 2?}通过{?/if?}</td>
<td>{?if $monthlyrows[i].types ==1 ?}签约{?elseif $monthlyrows[i].types == 2?}上架{?/if?}</td>
    <td><a href="{?$jieqi_url?}/modules/article/admin/articleups.php?id={?$monthlyrows[i].id?}">管理</a></td>
  </tr>
  {?/section?}
 	</table>
<div class="pages">{?$url_jumppage?}</div>