<div  id="content">
	<div id="pbody">
		<div class="box1">
			<div class="c_head">
			<h3>关于我们</h3>
			</div>
		</div>
		<div class="page_content">
			<!-- conent -->
			 <p> 北京华语畅想有限公司是国内首家基于‘数字时代发展’理念为中心创办的文化企业。该公司由两位资深数字出版人员投资创办，是一家专注于数字版权行业新技术研发的科技文化型企业，目前已经与中国移动、中国联通、中国电信、腾讯网、新浪网、凤凰网、掌阅书城、百度书城等数十家企业建立了密切的合作关系，同时与重庆出版社、长江文艺出版社、法律出版社、春风文艺出版社等以及数十家知名影视公司达成了合作共识。</p>
			 <br>
             <p> 公司旗下文学网站：</p>
             <p> 悦读坊（www.yuedufang.com）是国内一家知名的新锐原创小说网站,集创作、阅读、无线增值、实体出版、影视改编为一体的综合性门户网站，目前签约小说近三百本。</p>
			 <br>
             <p>  我们长期致力于原创文学作者的挖掘与培养，同时致力打造社交化云阅读平台，为读者提供更简洁更舒适的阅读体验，同时力争每一个作者都能成功签约，拿到稿费，创造出更优秀的作品。</p>
			 <br>
             <p> 目前公司正在蓬勃发展的创业阶段，真诚邀请有创业激情、愿意挑战自我的青年人士共同奋斗，共同创造美好的未来。<b></b></p>
		</div>
	</div>
</div>