<div class="app_body">
<div class="app_body_banner">
<a href="#"><img src="{?$jieqi_url?}/tianyin/picture/boutique.jpg" /></a>
</div>
<div class="app_icRanking">
<ul>
<li><a href="{?$jieqi_url?}/qiandao.html" class="nav1">签到</a></li>
<li><a href="{?$jieqi_url?}/rank.html" class="nav2">排行</a></li>
<li><a href="{?$jieqi_url?}/end.html" class="nav3">完本</a></li>
<li><a href="{?$jieqi_url?}/classlist.html" class="nav4">分类</a></li>
<li><a href="{?$jieqi_url?}/vip.html" class="nav5">VIP</a></li>
</ul>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon1">
<span class="h1">火爆精品</span>
</div>
<div class="app_listBlock_con2">
<ul>
{?$jieqi_pageblocks['7']['content']?}
</ul>
</div>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon13">
<span class="h1">仙界奇缘</span>
</div>
<div class="app_listBlock_con">
<ul>
{?$jieqi_pageblocks['8']['content']?}
</ul>
</div>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon7">
<span class="h1">穿越重生</span>
</div>
<div class="app_listBlock_con">
<ul>
{?$jieqi_pageblocks['9']['content']?}
</ul>
</div>
</div>
<div class="app_hotBlock">
<div class="app_listBlock_title  tit_icon4">
<span class="h1">热门分类</span>
</div>
<div class="app_hotBlock_lis">
{?$jieqi_pageblocks['5']['content']?}
</div>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon9">
<span class="h1">莫欺少年穷</span>
</div>
<div class="app_listBlock_con2">
<ul>
{?$jieqi_pageblocks['10']['content']?}
</ul>
</div>
</div>
<div class="app_downLoadBlock">
<div class="app_downLoadBlock_list">
<ul>
<li>
<a href="#">
<span class="ico"><img src="{?$jieqi_url?}/tianyin/picture/app_mm.png" /></span>
<div class="leftBlock">
<span class="h1">APP标题</span>
<span class="con">APP的比较详细的几个字简介</span>
</div>
<div class="rightButton">下载APP</div>
</a>
</li>
</ul>
</div>
</div>