<div class="app_body">
<div class="app_body_banner">
<a href="#"><img src="{?$jieqi_url?}/tianyin/picture/index.jpg" /></a>
</div>
<div class="app_icRanking">
<ul>
<li><a href="{?$jieqi_url?}/qiandao.html" class="nav1">签到</a></li>
<li><a href="{?$jieqi_url?}/rank.html" class="nav2">排行</a></li>
<li><a href="{?$jieqi_url?}/end.html" class="nav3">完本</a></li>
<li><a href="{?$jieqi_url?}/classlist.html" class="nav4">分类</a></li>
<li><a href="{?$jieqi_url?}/vip.html" class="nav5">VIP</a></li>
</ul>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon1">
<span class="h1">火爆强推</span>
</div>
<div class="app_listBlock_con2">
<ul>
{?$jieqi_pageblocks['1']['content']?}
</ul>
</div>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon3">
<span class="h1">激情四射</span>
</div>
<div class="app_listBlock_con">
<ul>
{?$jieqi_pageblocks['2']['content']?}
</ul>
</div>
</div>
<div class="app_recommendBlock">
<a href="#">
<span class="img"><img src="{?$jieqi_url?}/tianyin/picture/t1.jpg" /></span>
<div class="title">
<span class="tips">推荐</span>
<span class="content">我发现了老师的秘密，她让我半夜去找她......&hellip;</span>
</div>
</a>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon2">
<span class="h1">玄幻仙侠</span>
</div>
<div class="app_listBlock_con">
<ul>
{?$jieqi_pageblocks['3']['content']?}
</ul>
</div>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon5">
<span class="h1">游戏世界</span>
</div>
<div class="app_listBlock_con">
<ul>
{?$jieqi_pageblocks['4']['content']?}
</ul>
</div>
</div>
<div class="app_hotBlock">
<div class="app_listBlock_title  tit_icon4">
<span class="h1">热门分类</span>
</div>
<div class="app_hotBlock_lis">
{?$jieqi_pageblocks['5']['content']?}
</div>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon6">
<span class="h1">科幻空间</span>
</div>
<div class="app_listBlock_con2">
<ul>
{?$jieqi_pageblocks['6']['content']?}
</ul>
</div>
</div>
<div class="app_downLoadBlock">
<div class="app_downLoadBlock_list">
<ul>
<li>
<a href="#">
<span class="ico"><img src="{?$jieqi_url?}/tianyin/picture/app_gg_1.png" /></span>
<div class="leftBlock">
<span class="h1">APP标题</span>
<span class="con">APP的比较详细的几个字简介</span>
</div>
<div class="rightButton">下载APP</div>
</a>
</li>
</ul>
</div>
</div>