<div  id="content">
	<div id="pbody">
		<div class="box1">
			<div class="c_head">
			<h3>诚聘英才</h3>
			</div>
		</div>
		<div class="page_content">
			<!-- conent -->
			<p>签约小说编辑</P
<p>岗位职责:</p>
<p>1、拓展发掘培养优秀作者</p>
<p>2、对网络原创小说进行审核、签约、版权管理</p>
<p>3、负责原创网站内容更新,数据分析以及优化运营方案等</p>
<p>4、与作者沟通交流、辅助作者创造更优秀、更有价值的小说作品</p>
<p>5、挖掘优秀小说,包装推广公司签约优秀作品,策划公司相关活动等</p>
<p>任职资格:</p>
<p>1、大专以上学历(含),专业不限</p>
<p>2、热爱文学,具备一年以上网络小说阅读经历,有网络小说创作经验者优先</p>
<p>3、擅长与人沟通交流,细致且有职业责任感,能吃苦耐劳,有一定团队意识</p>
<p>4、在文学社团担任相关职位者优先,喜欢挑战、愿加入我们共同创业者优先</p>
<br>
<p>SEO优化推广专员</p>
<p>岗位职责：</p>
<p>1、负责公司旗下小说网站的优化与推广；</p>
<p>2、制定公司网站SEO优化方案和分析；</p>
<p>3、制定并组织实施公司网站及栏目的SEO优化方案；</p>
<p>4、评估、分析网站的关键词，提升网站关键词的搜索排名；</p>
<p>5、负责对内容、构架及代码等进行优化，分析搜索引擎流量，有效支持运营产品发展；</p>
<p>6、同第三方网站进行流量、数据、反向链接或服务的交换，增加网站的流量和知名度；</p>
<p>7、负责站外链接的创建和维护；负责网站内部优化工作的执行以及其他与美术设计相关的工作。</p>
<p>任职资格：</p>
<p>1、熟悉并精通网页关键词分析、优化；</p>
<p>2、熟悉网站推广、搜索引擎优化、搜索引擎推广以及网站的结构优化；</p>
<p>3、熟悉互联网推广知识及网络营销知识，对网站的运营推广有敏锐的营销思路；</p>
<p>4、1年以上SEO工作经验，对百度、Google等搜索引擎有一定的研究；</p>
<p>5、热爱seo事业、擅长探索研究seo新动态；</p>
<p>6、有钻研精神，团队协调合作能力强，工作认真负责；</p>
<p>7、有搜索引擎优化成功案例优先；</p>
<p>8、工作积极主动，认真细心踏实，良好的沟通协调及协调能力；</p>
<br>
<p>版权经理</p>
<p>岗位职责:</p>
<p>1、负责与各大小说阅读平台洽谈合作，完成内容资源的版权合作协议的签订与执行</p>
<p>2、负责已签约版权在公司旗下的上线流程跟进、效果评估，督促已签约版权的获取、加工与上线</p>
<p>3、负责根据公司运营渠道及重点方向，开发相关拓展合作，充分挖掘合作资源，有效执行公司政策</p>
<p>4、与编辑、作者沟通交流、辅助编辑、作者创造更优秀、更有价值的小说作品</p>

<p>任职资格:</p>
<p>1、大专以上学历(含),专业不限</p>
<p>2、熟悉数字出版或移动出版行业，熟悉国内版权合作流程，拥有1年以上版权工作经验</p>
<p>3、对数字内容的价值谈判准确、经验丰富，了解图书品类，熟悉数字内容运作模式</p>
<p>4、具有较强的沟通和协调能力、良好的谈判能力以及团队协作精神，抗压能力强</p>
<p>5、有版权客户资源者优先考虑</p>
<br>
<p><b>简历投递邮箱：hr#yuedufang.com（发邮件时请把#替换成@）</b></P>
		</div>
	</div>
</div>