<div class="container">
<div class="app_header_section2  app_scrollerHeader  pinned">
<div class="app_header_detail2">
<div class="app_header_back"></div>
<div class="app_header_h1">联系客服</div>
</div>
</div>
<div class="app_body">
<div class="app_friendTips">
<span class="tips">联系客服，获取帮助</span>
<span class="cons">
1.加入客服QQ群,QQ群号为：326738643<br/>
2.通过客服电话与我们取得联系，客服电话为：010-86462015-800.<br/>
3.下载App客户端后，直接在客户端账户页面通过【我要反馈】功能进行联系。<br/>
4.您也可以通过页面下方的联系在线客服的按钮直接与我们的客服联系。<br/>
</span>
</div>
<div class="app_subscribeBlock  app_addMarginTop">
<div class="app_subscribeBlock_div">
<div class="app_subscribeBlock_left">
客服时间<br/>工作日9:00~18:00
</div>
</div>
</div>