<div class="app_body">
<div class="app_body_banner">
<a href="#"><img src="{?$jieqi_url?}/tianyin/picture/monthly.jpg" /></a>
</div>
<div class="app_icRanking">
<ul>
<li><a href="{?$jieqi_url?}/qiandao.html" class="nav1">签到</a></li>
<li><a href="{?$jieqi_url?}/rank.html" class="nav2">排行</a></li>
<li><a href="{?$jieqi_url?}/end.html" class="nav3">完本</a></li>
<li><a href="{?$jieqi_url?}/classlist.html" class="nav4">分类</a></li>
<li><a href="{?$jieqi_url?}/vip.html" class="nav5">VIP</a></li>
</ul>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon1">
<span class="h1">包月强推</span>
</div>
<div class="app_listBlock_con2">
<ul>
{?$jieqi_pageblocks['11']['content']?}
</ul>
</div>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon10">
<span class="h1">编辑精选</span>
</div>
<div class="app_listBlock_con">
<ul>
{?$jieqi_pageblocks['12']['content']?}
</ul>
</div>
</div>
<div class="app_recommendBlock">
<a href="#">
<span class="img"><img src="{?$jieqi_url?}/tianyin/picture/t2.jpg" /></span>
<div class="title">
<span class="tips">推荐</span>
<span class="content">我年幼时配了阴婚，现在老婆来找我了......&hellip;</span>
</div>
</a>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon11">
<span class="h1">修真那些事儿</span>
</div>
<div class="app_listBlock_con">
<ul>
{?$jieqi_pageblocks['13']['content']?}
</ul>
</div>
</div>
<div class="app_hotBlock">
<div class="app_listBlock_title  tit_icon4">
<span class="h1">热门标签</span>
</div>
<div class="app_hotBlock_lis">
{?$jieqi_pageblocks['5']['content']?}
</div>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon12">
<span class="h1">限时免费</span>
</div>
<div class="app_listBlock_con">
<ul>
{?$jieqi_pageblocks['14']['content']?}
</ul>
</div>
</div>
<div class="app_downLoadBlock">
<div class="app_downLoadBlock_list">
<ul>
<li>
<a href="#">
<span class="ico"><img src="{?$jieqi_url?}/tianyin/picture/app_gg_1.png" /></span>
<div class="leftBlock">
<span class="h1">APP标题</span>
<span class="con">APP的比较详细的几个字简介</span>
</div>
<div class="rightButton">下载APP</div>
</a>
</li>
</ul>
</div>
</div>