<div class="container">
<div class="app_header_section2  app_scrollerHeader  pinned">
<div class="app_header_detail2">
<div class="app_header_back"></div>
<div class="app_header_h1">常见问题</div>
</div>
</div>
<div class="app_body">
<div class="app_commonProblem">
<ul>
<li class="active">
<span class="title">1. 书城里面的书籍都是正版的吗？</span>
<div class="content">
是的，书城里面的书籍都是得到作者或者版权拥有方合法授权的书籍，均为作者精心创作，为了支持作者创作出更为优秀的作品，我们欢迎您付费阅读支持作者，再次感谢您支持正版阅读。
</div>
</li>
<li>
<span class="title">2. 什么是阅读币，如何查询自己的阅读币？</span>
<div class="content">
阅读币是用来购买书城中的VIP章节的虚拟币，与人民币的兑换比例为1:100，您可以前往个人账户中心首页，即可看到自己的阅读币以及下载包和畅读包的相关情况。
</div>
</li>
<li>
<span class="title">3. 如何购买阅读币？</span>
<div class="content">
登录书城后，前往个人中心账户，点击【阅读币】后面的充值按钮，即可进入充值页面，选择阅读币充值即可购买阅读币。
</div>
</li>
<li>
<span class="title">4. 阅读VIP章节如何收费？</span>
<div class="content">
VIP章节是按照章节字数收费的，按照1000字5阅读币的价格进行收取。<br/>
如果您开通了畅读包，或者是使用了下载包下载了某一书籍，那么阅读书籍章节都是免费的，不再扣除阅读币。
</div>
</li>
<li>
<span class="title">5. 畅读包和下载包是什么，怎么购买？</span>
<div class="content">
畅读包是一定时长的全场免费畅读道具。当你开通一定时间的畅读包后，您就可以在该时间段内全场免费畅读书城自营书籍，不再扣除阅读币。<br/>
下载包是下载特权道具，按照个数进行销售。当你购买了下载包之后，可以在客户端中下载某一书籍，每下载一本书籍，需要扣除一个下载包道具。重复下载不扣除下载包道具。<br/>
登录书城后，前往个人中心账户，点击下载包以及畅读包后面的按钮即可前往购买相应的道具。
</div>
</li>
<li>
<span class="title">6. 下载包下载的书籍可以一直阅读吗？</span>
<div class="content">
是的，如果你是用下载包下载书籍之后，只要这本书正常销售以及在授权时间范围内，书籍就可以一直免费阅读，并且，更划算的是，后续更新章节也是免费的，可以一直免费阅读，直到完本，所以非常划算。
</div>
</li>
<li>
<span class="title">7. 忘记了账号密码怎么办？</span>
<div class="content">
如果你是通过手机号注册的账号，你可以直接通过App中忘记密码的功能重置里面。<br>
如果你是昵称方式登录的，请联系客服重置里面，客服QQ群：326738643，客服电话：010-86462015 分机号800.<br>
</div>
</li>
<li>
<span class="title">8. 怎么联系客服？</span>
<div class="content">
我们提供了QQ群以及客服电话两种方式可以联系客服寻求帮助：客服QQ群：326738643，客服电话：010-86462015 分机号800.<br>
我们客服的工作时间为工作日9:00-18:00，请记得在工作时间里面联系我们的客服哦！<br>
</div>
</li>
<li>
<span class="title">9. 充值了没有到账怎么办？</span>
<div class="content">
部分情况下，可能需要几分钟进行订单确认，请耐心等待一段时间。<br>
如果确认支付成功15分钟后还没有发放道具，请将你扣费成功的页面截图之后，连同账号信息一起联系客服，客服将会协助你解决问题。<br>
</div>
</li>
<li>
<span class="title">10.软件突然无法使用怎么办？</span>
<div class="content">
有可能是我们的系统正在维护，这种情况下，请耐心等待1~2小时，再次重试，应该就会恢复了。<br>
如果长时间没有恢复，你可以尝试卸载软件之后重新安装，如果还不能解决问题，那么请联系我们的客服，我们的客服将会协助你解决问题。<br>
</div>
</li>
</ul>
</div>
<div class="app_subscribeBlock  app_addMarginTop">
<div class="app_subscribeBlock_div">
<div class="app_subscribeBlock_left">
没有找到要问的问题吗？尝试下<br/>联系客服吧～
</div>
<div class="app_subscribeBlock_kaiTong">
<span class="button" onclick="javascript: window.location.href='kefu.html'">联系客服</span>
</div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.app_commonProblem .title').click(function () {
            if($(this).parent().hasClass('active')){
                $(this).parent().removeClass('active');
            }else{
                $(this).parent().addClass('active');
            }
        })
    })
</script>