<div class="container">
<div class="app_header_section2  app_scrollerHeader  pinned">
<div class="app_header_detail2">
<div class="app_header_back"></div>
<div class="app_header_h1">排行榜</div>
</div>
</div>
<div class="app_body">
<div class="app_rankingList">
<ul>
<li>
<a href="/allsale.html"><img src="{?$jieqi_url?}/tianyin/picture/ranking1.png" /></a>
</li>
<li>
<a href="/size.html"><img src="{?$jieqi_url?}/tianyin/picture/ranking2.png" /></a>
</li>
<li>
<a href="/allvote.html"><img src="{?$jieqi_url?}/tianyin/picture/ranking3.png" /></a>
</li>
<li>
<a href="/postdate.html"><img src="{?$jieqi_url?}/tianyin/picture/ranking4.png" /></a>
</li>
<li>
<a href="/allvisit.html"><img src="{?$jieqi_url?}/tianyin/picture/ranking5.png" /></a>
</li>
<li>
<a href="/newsbook.html"><img src="{?$jieqi_url?}/tianyin/picture/ranking6.png" /></a>
</li>
</ul>
</div>
<div class="app_listBlock">
<div class="app_listBlock_title  tit_icon25">
<span class="h1">火热新书</span>
</div>
<div class="app_listBlock_con">
<ul>
{?block bid="0" module="article" filename="block_articlelist" classname="BlockArticleArticlelist" side="0" title="区块" vars="postdate,5,0,0,0,0" template="ledu_list.html" contenttype="4" custom="0" publish="3" hasvars="1"?}
</ul>
</div>
<!-- <div class="app_reload"><span class="reload">正在加载更多</span></div> -->
</div>